<div class="d-flex flex-column">
    <div class="d-flex flex-row gap-2">
        @for (tab of tabs(); track $index) {
            <div role="button"
                 (click)="tabClick(tab)"
                 class="p-1 tab d-flex gap-3 bg-secondary text-white"
                 [class.selected-tab]="tab.tabId() === this.activeTabId()">
                {{ tab.tabName() }}
                <span role="button" (click)="tabClose($event, tab)">&times;</span>
            </div>
        }
    </div>
    <div class="p-2 border border-black border-1">
        @if (activeTab() !== undefined) {
            <ng-container [ngTemplateOutlet]="activeTab()"></ng-container>
        } @else {
            No location selected
        }
    </div>
</div>

